#p1{
    color: rgb(0, 0, 0);
    background-color: rgb(86, 46, 12);
}
#p2{
    color: rgb(107, 76, 76);
    background-color: rgb(31, 20, 10);
}
#p3{
    color: rgb(190, 48, 48);
    background-color: rgb(44, 11, 176);
}
#p4{
    color: rgb(255, 167, 167);
    background-color: rgb(236, 25, 71);
}
#p5{
    color: rgb(2, 190, 187);
    background-color: rgb(154, 150, 147);
}
#p6{
    color: #1abb22;
    background-color: #440c93;
}
#p7{
    color: #380717;
    background-color: #651251;
}
#p8{
    color: #0f089d;
    background-color: #651708;
}
#p9{
    color: #510622;
    background-color: #283a29;
}
#p10{
    color: #250604;
    background-color: #111f12;
}