#div1{
    width: 150px;
    height: 150px;
    background-color: #f0f8ff;
}
#div2{
    width: 150px;
    height: 150px;
    background-color: #7790a6 ;
}
#div3{
    width: 150px;
    height: 150px;
    background-color: #41092d ;
}
#div4{
    width: 150px;
    height: 150px;
    background-color: #06131f ;
}
#div5{
    width: 150px;
    height: 150px;
    background-color: #693f3f ;
}
#div6{
    width: 150px;
    height: 150px;
    background-color: #c7ff0f ;
}
#div7{
    width: 150px;
    height: 150px;
    background-color: #b0018a ;
}
#div8{
    width: 150px;
    height: 150px;
    background-color: #2567a1 ;
}
#div9{
    width: 150px;
    height: 150px;
    background-color: #ff1c46 ;
}
#div10{
    width: 150px;
    height: 150px;
    background-color: #8e5505 ;
}