#div1{
    color: rgb(10,240,20);
    background-color: rgb(0,0,255);
}
#div2{
    color: rgb(200,20,230);
    background-color: rgb(255, 75, 4);
}
#div3{
    color: rgb(40, 2, 99);
    background-color: rgb(140, 179, 14);
}
#div4{
    color: rgb(137, 0, 112);
    background-color: rgb(244, 21, 39);
}
#div5{
    color: rgb(5, 100, 92);
    background-color: rgb(221, 203, 206);
}