main {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#div1, #div3 {
    height: 15%;
    background-color:aqua; 
    color: white;
    padding-left: 30px;
    font-size: 40px;
    font-weight: 100;
}

#div2 {
    height: 70%;
    width: 100%;
    display: flex;
}

#div2-child1 {
    width: 20%;
    background-color:red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

#div2-child2 {
    width: 80%;
    background-color:orange;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}